body {
  padding: 10px;
}

.carousel {
  position: relative;
  width: 1000px;
  padding: 10px 40px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 200px;
}

.carousel img {
  width: 200px;
  height: 200px;
  display: block;
  display: inline;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 90px;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery {
  width: 1000px;
  overflow: hidden;
}
.gallery ul {
  height: 200px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.gallery li {
  display: inline-block;
}
